<p style="color: green"><%= notice %></p>

<h1 class="text-center">Reservas</h1>

<div id="reservas">
  <% @reservas.each do |reserva| %>
    <%= render reserva %>
    <p>
      <%# link_to "Show this reserva", reserva %>
    </p>
  <% end %>
</div>

