
 <form class="checkout form-control mt-4">
    <div class="checkout-header">
      <h4 class="checkout-title text-center">
        Dados do Cartão de Crédito
      </h1>
    </div>
    <p>
      <input type="text" class="col-6" placeholder="Nome no cartão">
      <input type="text" class="col-1" placeholder="MM" id="mes">
      <input type="text" class="col-1" placeholder="AAAA" id="ano">
    </p>
    <p>
      <input type="text" class="col-6" placeholder="4111 1111 1111 1111" id="cartao">
      <input type="text" class="col-1" placeholder="CVC" id="cvc">
    </p>
    <p>
      <input type="submit" value="Pagar" class="btn btn-success fs-5">
    </p>
  </form>