<h1>Editing endereco</h1>

<%= render "form", endereco: @endereco %>

<br>

<div>
  <%= link_to "Show this endereco", cliente_endereco_path(@endereco) %> |
  <%= link_to "Back to enderecos", cliente_enderecos_path %>
</div>
