<div class="container">
    <div class="row mt-5">
        <div class="card rounded-4 col-sm-6 offset-sm-3 col-md-4 offset-md-4 mt-5 shadow p-5">
            <div class="form signin loginform" action="/logar" method="post">
                <div class="text-center mb-4">
                    <i class="bi bi-person fs-5"></i>
                    <h1 class="h3 mb-3 font-wight-normal">Login</h1>
                </div>

                <div class="form-label-group mt-4">
                    <label for="email">Login: </label>
                    <input type="email" id="login" class="form-control mt-1" placeholder="Login" name="login">
                </div>

                <div class="form-label-group mt-4">
                    <label for="email">Senha: </label>
                    <input type="password" id="password" class="form-control mt-1" placeholder="Senha" name="password">
                </div>

                <button class="btn btn-dark h3 mb-3 font-wight-normal mt-4">Entrar</button>
            </div>
        </div>
    </div>
</div>