<h3>Olá <%= @cliente.nome %>, sua Reserva foi registrada no sistema</h3>
<br>
<p>Estamos aguardando o processamento do seu pagamento para confirmarmos sua reserva.</p>
<br>
<p>Atenciosamente,</p>

<p>Equipe SAMCAR.</p>