
  <td class="bg-transparent text-dark" >
    <%= link_to "Cadastrar", new_cliente_path, class:" custom-a nav-link active d-inline #{ "text-light" unless controller.controller_name == 'clientes'}" %>
  </td>
